[submodule "doc"]
	path = doc
	url = git@github.com:wgml/magister-doc.git
[submodule "background-model-petalinux"]
	path = background-model-petalinux
	url = git@github.com:wgml/magister-background-model-petalinux.git
[submodule "background-model-vivado"]
	path = background-model-vivado
	url = git@github.com:wgml/magister-background-model-vivado.git
[submodule "ip-repo"]
	path = ip-repo
	url = git@github.com:wgml/magister-ip-repo.git
